@{
    ViewData["Title"] = "Index";
}

<script>
function MostrarTemporadas(IdS, nombre) {
    $.ajax({
        type: 'POST',
        dataType: 'JSON',
        url: '/Home/VerDetallesTemporadas',
        data: { IdSerie: IdS },
        success: function (response) {
            let temporadas="";
            $("#NombreS").html("Cantidad de Temporadas de " + nombre + ": " + response.length);
            for (const temporada of response) {
                temporadas = temporadas + temporada.tituloTemporada + "<br>"
            }
            $("#Body").html(temporadas)
        }
    });
}

function MostrarActores(IdS,nombre){
    $.ajax({
            type: 'GET',
            datatype: 'JSON',
            url: '/Home/VerDetallesActores',
            data: {IdSerie: IdS},
            success:
                function(response){
                    console.log(response)
                    let actores="";
                    $("#NombreS").html("Cantidad de Actores "+ nombre + ": " + response.length);
                    for(const actor of response){
                        actores = actores + actor.nombre + "<br>"
                    }
                    $("#Body").html(actores);
                }
        });
}

function MostrarSerie(IdS, nombre) {
    $.ajax({
        type: 'POST',
        dataType: 'JSON',
        url: '/Home/VerDetallesSerie',
        data: { IdSerie: IdS },
        success: function (response) {
            $("#NombreS").html("Más info de la serie " + response.nombre);  
            $("#Body").html("Nombre de la serie: " + nombre + "<br>" + "Año de Inicio: " + response.añoInicio + "<br>" + "Sinopsis: " + response.sinopsis + "<br>")
            $("#AñoInicio").html(response.añoInicio);
            $("#Sinopsis").html(response.sinopsis);
            $("#ImagenSerie").attr("src", "/"+response.imagenSerie);
        }
    });
}
</script>


<h1>DexFlix</h1>
<h2>¡BIENVENIDO!</h2>
@foreach(Series s in ViewBag.ListaSeries){
    <div class="card" style="width: 18rem;">
        <img src="@s.ImagenSerie" class="card-img-top" alt="Imagen Serie">
        <div class="card-body">
        <h5 class="card-title">@s.Nombre</h5>
        <p class="card-text">@s.Sinopsis</p>
        <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="MostrarActores(@s.IdSerie, '@s.Nombre')">Ver Actores</a>
        <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="MostrarTemporadas(@s.IdSerie, '@s.Nombre' )">Ver Temporadas</a>
        <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="MostrarSerie(@s.IdSerie, '@s.Nombre')">Ver Mas Info Serie</a>
        </div>
    </div>
}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="NombreS">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="Body">

        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



